Repository e-m-b-a/emba, pull requests merged in 2023-10, with the labels that each got.

#812 grep -v -> tail
  modules/F20_vul_aggregator.sh
  modules/F21_cyclonedx_sbom.sh
Labels: EMBA

#811 Proxy support
  emba
  helpers/helpers_emba_dependency_check.sh
  modules/L15_emulated_checks_nmap.sh
  modules/L22_upnp_hnap_checks.sh
  modules/L25_web_checks.sh
Labels: enhancement, docker, AI-assissted firmware analysis, EMBA

#804 Firmware diffing preparation
  Dockerfile
  README.md
  config/report_templates/F20_vul_aggregator-post.sh
  config/report_templates/S26_kernel_vuln_verifier-post.sh
  docker-compose.yml
  emba
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_html_generator.sh
  helpers/helpers_emba_parameter_parser.sh
  helpers/helpers_emba_path.sh
  helpers/helpers_emba_print.sh
  helpers/style.css
  installer/I01_default_apps.sh
  modules/F50_base_aggregator.sh
  modules/L10_system_emulation.sh
  modules/L22_upnp_hnap_checks.sh
  modules/L25_web_checks.sh
  modules/P02_firmware_bin_file_check.sh
  modules/P55_unblob_extractor.sh
  modules/P60_deep_extractor.sh
  modules/S109_jtr_local_pw_cracking.sh
  modules/S14_weak_func_radare_check.sh
  modules/S60_cert_file_check.sh
  modules/S75_network_check.sh
Labels: bug, enhancement, Core modules (Sxx), EMBA

#814 nikto setup, compose cleanup
  docker-compose.yml
  helpers/helpers_emba_dependency_check.sh
Labels: bug, EMBA

#815 System emulation fs mount improvements
  emba
  helpers/fix_bins_lnk_emulation.sh
  installer/IP00_extractors.sh
  modules/L10_system_emulation.sh
  modules/L10_system_emulation/inferService.sh
  modules/L22_upnp_hnap_checks.sh
  modules/S108_stacs_password_search.sh
Labels: enhancement, System emulator (Lxx), EMBA

#822 L10 Fix SC2250 shellcheck
  modules/L10_system_emulation.sh
Labels: EMBA

#826 Installer debian package file format
  installer/IF20_cve_search.sh
  modules/L10_system_emulation.sh
Labels: bug, Installation

#833 Cleanup of PS crawler
  .github/trivy-container-check.yml.bak
  .github/workflows/trickest_update.yml
  config/PS_PoC_results.csv
  emba
  helpers/packet_storm_crawler.sh
Labels: ci/cd, EMBA

#834 Check for arachni user and shellcheck braces
  modules/L25_web_checks.sh
Labels: bug, EMBA

#837 Try cve db update multiple times during installation
  installer/IF20_cve_search.sh
Labels: bug, Installation, EMBA

#838 Firmware diffing modules
  emba
  modules/D02_firmware_diffing_bin_details.sh
  modules/D05_firmware_diffing_extractor.sh
  modules/D10_firmware_diffing.sh
Labels: enhancement, EMBA

#844 fix #839
  helpers/helpers_emba_html_generator.sh
  modules/S108_stacs_password_search.sh
  modules/S13_weak_func_check.sh
  modules/S14_weak_func_radare_check.sh
  modules/S15_radare_decompile_checks.sh
Labels: bug, documentation, EMBA

#846 Update installer, dep-check
  helpers/helpers_emba_dependency_check.sh
  installer/IF20_cve_search.sh
  installer/IF50_aggregator_common.sh
  scan-profiles/default-scan.emba
Labels: enhancement, EMBA

#853 BMC firmware extractor
  helpers/helpers_emba_dependency_check.sh
  installer/IP00_extractors.sh
  modules/P02_firmware_bin_file_check.sh
  modules/P18_BMC_decryptor.sh
  modules/P60_deep_extractor.sh
Labels: enhancement, Extractor (Pxx), EMBA
