Repository e-m-b-a/emba, pull requests merged in 2023-11, with the labels that each got.

#855 kernel-hardening-checker fix
  modules/S24_kernel_bin_identifier.sh
Labels: bug, Core modules (Sxx), EMBA

#860 Version identifiers, Arch check in installer, diff updates
  config/bin_version_strings.cfg
  helpers/helpers_emba_prepare.sh
  installer.sh
  modules/D10_firmware_diffing.sh
  modules/S09_firmware_base_version_check.sh
Labels: enhancement, Installation, Core modules (Sxx), EMBA

#867 Improve diff mode
  emba
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_html_generator.sh
  modules/D02_firmware_diffing_bin_details.sh
  modules/D05_firmware_diffing_extractor.sh
  modules/D10_firmware_diffing.sh
Labels: enhancement, EMBA, Firmware diffing - D modules

#869 Fix grep -R
  check_project.sh
  helpers/helpers_emba_html_generator.sh
  modules/S106_deep_key_search.sh
Labels: bug

#870 CPU check for SSSE3
  installer.sh
Labels: bug, enhancement, EMBArk, Installation, EMBA

#871 Diff threading + improved reporting
  modules/D10_firmware_diffing.sh
Labels: enhancement, EMBA, Firmware diffing - D modules

#874 #873 fix
  modules/S25_kernel_check.sh
Labels: bug, Core modules (Sxx), EMBA

#877 Create first_interaction.yml
  .github/workflows/first_interaction.yml
Labels: enhancement, EMBA

#876 UEFI analysis improvements
  CONTRIBUTING.md
  README.md
  config/report_templates/L10_system_emulation-pre.sh
  config/report_templates/P05_patools_init-pre.sh
  config/report_templates/P11_dlink_SHRS_enc_extract-pre.sh
  config/report_templates/P12_avm_freetz_ng_extract-pre.sh
  config/report_templates/P13_uboot_mkimage-pre.sh
  config/report_templates/P14_ext_mounter-pre.sh
  config/report_templates/P16_EnGenius_decryptor-pre.sh
  config/report_templates/P18_qnap_decryptor-pre.sh
  config/report_templates/P60_deep_extractor-pre.sh
  config/report_templates/P70_firmware_bin_base_analyzer-pre.sh
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_extractors.sh
  helpers/helpers_emba_prepare.sh
  installer/I02_UEFI_fwhunt.sh
  installer/IF20_cve_search.sh
  installer/IP35_uefi_extraction.sh
  installer/IP99_binwalk_default.sh
  modules/F20_vul_aggregator.sh
  modules/F50_base_aggregator.sh
  modules/L25_web_checks.sh
  modules/P02_firmware_bin_file_check.sh
  modules/P35_UEFI_extractor.sh
  modules/P55_unblob_extractor.sh
  modules/P60_deep_extractor.sh
  modules/P61_binwalk_extractor.sh
  modules/P99_prepare_analyzer.sh
  modules/S02_UEFI_FwHunt.sh
Labels: enhancement, Extractor (Pxx), Core modules (Sxx), EMBA

#896 Full system emulation dependency s24
  emba
Labels: enhancement, System emulator (Lxx), Core modules (Sxx), EMBA

#891 Docker-compose cleanup
  docker-compose.yml
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_helpers.sh
  installer/I120_cwe_checker.sh
  installer/IF20_cve_search.sh
  installer/IL15_emulated_checks_init.sh
  installer/IP61_unblob.sh
  modules/L10_system_emulation.sh
  modules/L25_web_checks.sh
  modules/P19_bsd_ufs_mounter.sh
  modules/P20_foscam_decryptor.sh
  modules/P23_qemu_qcow_mounter.sh
  modules/S120_cwe_checker.sh
Labels: enhancement, docker, EMBA

#902 Issue 889
  modules/F20_vul_aggregator.sh
Labels: bug, reporting

#903 L10, S05 fixes
  modules/L10_system_emulation/network.sh
  modules/S05_firmware_details.sh
Labels: enhancement, System emulator (Lxx), EMBA

#904 L23 VNC checker modules
  helpers/l23_vnc_msf_check.rc
  modules/L23_vnc_checks.sh
  modules/S22_php_check.sh
Labels: enhancement, System emulator (Lxx), EMBA

#909 Update check again - #908
  installer/IF20_cve_search.sh
Labels: bug, enhancement, cve-search, issue in 3rd party component, EMBA

#910 Make Routersploit work again
  docker-compose.yml
  installer/IL15_emulated_checks_init.sh
Labels: bug, Installation, System emulator (Lxx), EMBA

#911 Stick to version and check it from requests and urllib3
  helpers/helpers_emba_dependency_check.sh
  installer/IF20_cve_search.sh
Labels: bug, enhancement, docker, cve-search, EMBA

#913 Replacement of current cve query mechanism
  .github/workflows/trivy.yml
  config/bin_version_strings.cfg
  config/emba_updater.init
  docker-compose.yml
  emba
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_helpers.sh
  helpers/helpers_emba_parameter_parser.sh
  helpers/helpers_emba_print.sh
  installer.sh
  installer/IF20_cve_search.sh
  installer/IF20_nvd_feed.sh
  modules/F20_vul_aggregator.sh
  modules/S25_kernel_check.sh
  modules/S26_kernel_vuln_verifier.sh
  modules/S36_lighttpd.sh
Labels: enhancement, docker, Installation, cve-search, in progress, issue in 3rd party component, prio, EMBA

#919 Fix workflows, improve CVE identification
  .github/workflows/default_install.yml
  .github/workflows/trivy.yml
  installer/IF20_nvd_feed.sh
  modules/F20_vul_aggregator.sh
Labels: bug, ci/cd, EMBA

#921 rootfs check in uefi extractor
  modules/P35_UEFI_extractor.sh
Labels: bug

#922 fix install workflow
  .github/workflows/default_install.yml
Labels: bug, ci/cd

#918 check for versions (emba, git and docker)
  config/VERSION.txt
  helpers/create_version.sh
  helpers/helpers_emba_dependency_check.sh
Labels: enhancement, EMBA
