Repository e-m-b-a/emba, pull requests merged in 2023-12, with the labels that each got.

#923 remove update scripts
  config/emba_updater.init
  config/emba_updater_data.init
  installer/IF20_nvd_feed.sh
Labels: bug, EMBA

#930 Multiple fixes
  docker-compose.yml
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_helpers.sh
  installer.sh
  installer/IF20_nvd_feed.sh
  modules/F20_vul_aggregator.sh
  modules/L10_system_emulation.sh
  modules/S13_weak_func_check.sh
  modules/S14_weak_func_radare_check.sh
  modules/S15_radare_decompile_checks.sh
  modules/S17_apk_check.sh
  modules/S20_shell_check.sh
  modules/S23_lua_check.sh
  modules/S26_kernel_vuln_verifier.sh
  modules/S36_lighttpd.sh
  modules/S99_grepit.sh
Labels: bug, EMBA

#939 Fix parsing of version number from binary version string
  modules/F20_vul_aggregator.sh
Labels: bug, EMBA

#940 Update Contributors, version
  CONTRIBUTORS.md
  config/VERSION.txt
  helpers/create_version.sh
Labels: EMBA

#942 Fix parsing of binary name from binary version string
  modules/F20_vul_aggregator.sh
Labels: bug, EMBA

#945 Docker build updates for Kali 2023.4
  .github/ISSUE_TEMPLATE/new_kali_release.md
  .github/workflows/docker-image.yml
  installer/I13_disasm.sh
  modules/S120_cwe_checker.sh
Labels: bug, docker, ci/cd, EMBA

#946 Include 0xdea semgrep rules and haruspex ghidra script, improve cwe-search integration
  SECURITY.md
  config/VERSION.txt
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
  installer/I120_cwe_checker.sh
  installer/I20_sourcecode_check.sh
  installer/IF20_nvd_feed.sh
  modules/F20_vul_aggregator.sh
  modules/F50_base_aggregator.sh
  modules/S120_cwe_checker.sh
  modules/S20_shell_check.sh
  modules/S22_php_check.sh
  scan-profiles/default-scan.emba
  scan-profiles/full-scan.emba
Labels: Core modules (Sxx), EMBA

#955 fix for #954
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
Labels: bug, EMBA

#957 Version bump - v1.3.2
  config/VERSION.txt
  config/banner/AI-v1.3.0.txt
  config/banner/EMBArk-v1.3.2.txt
  config/banner/London_Calling_Edt-v1.2.0.txt
  helpers/helpers_emba_defaults.sh
Labels: EMBArk, EMBA

#941 remove disable shellcheck from installer folder scripts
  installer/IL15_emulated_checks_init.sh
  installer/wickStrictModeFail.sh
Labels: enhancement, EMBA

#962 fix version
  config/bin_version_strings.cfg
Labels: bug, Core modules (Sxx), EMBA

#965 copyright and exceptions linter functions
  check_project.sh
  modules/F50_base_aggregator.sh
  modules/L10_system_emulation/fixImage.sh
  modules/L10_system_emulation/inferFile.sh
  modules/L10_system_emulation/inferService.sh
  modules/L10_system_emulation/network.sh
  modules/L10_system_emulation/preInit.sh
  modules/L10_system_emulation/run_service.sh
Labels: enhancement, EMBA

#964 force utf8 for htmls
  config/VERSION.txt
  helpers/helpers_emba_helpers.sh
  modules/S109_jtr_local_pw_cracking.sh
  modules/S99_grepit.sh
Labels: bug, EMBArk, reporting, EMBA
