Repository e-m-b-a/emba, pull requests merged in 2024-12, with the labels that each got.

#1395 Rename scan-profiles
  README.md
  scan-profiles/default-sbom.emba
  scan-profiles/quick-sbom.emba
Labels: enhancement, EMBA

#1396 F50 refactoring
  modules/F50_base_aggregator.sh
Labels: enhancement, EMBA

#1397 helpers var refactor
  emba
  helpers/create_version.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_extractors.sh
  helpers/helpers_emba_helpers.sh
  helpers/helpers_emba_html_generator.sh
  helpers/helpers_emba_internet_access.sh
  helpers/helpers_emba_load_strict_settings.sh
  helpers/helpers_emba_path.sh
  helpers/helpers_emba_prepare.sh
  helpers/helpers_emba_print.sh
  helpers/helpers_emba_status_bar.sh
Labels: enhancement, EMBA

#1405 Little fixes (csv, s25, s06, l25), s26 speedup
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_print.sh
  modules/F15_cyclonedx_sbom.sh
  modules/F20_vul_aggregator.sh
  modules/L25_web_checks.sh
  modules/L35_metasploit_check.sh
  modules/P50_binwalk_extractor.sh
  modules/S05_firmware_details.sh
  modules/S09_firmware_base_version_check.sh
  modules/S116_qemu_version_detection.sh
  modules/S16_ghidra_decompile_checks.sh
  modules/S17_cwe_checker.sh
  modules/S22_php_check.sh
  modules/S26_kernel_vuln_verifier.sh
  scan-profiles/default-scan-emulation.emba
Labels: bug, enhancement, EMBA

#1410 Improve entropy pic integration
  helpers/helpers_emba_defaults.sh
  modules/F20_vul_aggregator.sh
  modules/F50_base_aggregator.sh
  modules/P02_firmware_bin_file_check.sh
  modules/S108_stacs_password_search.sh
Labels: enhancement, EMBA

#1412 bump version - v1.5.1
  config/VERSION.txt
  docker-compose.yml
  helpers/helpers_emba_defaults.sh
Labels: EMBA, Release

#1415 Fix missing kernel config analysis because of lKCONFIG_EXTRACTED/KCON…
  modules/S24_kernel_bin_identifier.sh
Labels: bug, Core modules (Sxx), EMBA

#1416 Version identifier bugs / New binwalk with improved decryptor
  Dockerfile
  config/bin_version_strings.cfg
  docker-compose.yml
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_prepare.sh
  installer/I02_UEFI_fwhunt.sh
  modules/F20_vul_aggregator.sh
  modules/F50_base_aggregator.sh
  modules/S05_firmware_details.sh
  modules/S09_firmware_base_version_check.sh
  modules/S16_ghidra_decompile_checks.sh
  modules/S25_kernel_check.sh
Labels: bug, enhancement, Extractor (Pxx), EMBA

#1423 fix s118 threading output / p99 csv
  helpers/helpers_emba_prepare.sh
  modules/S116_qemu_version_detection.sh
  modules/S118_busybox_verifier.sh
Labels: bug, Core modules (Sxx), EMBA
