Repository e-m-b-a/emba, pull requests merged in 2024-01, with the labels that each got.

#981 Multi grep in version detection
  config/bin_version_strings.cfg
  helpers/helpers_emba_defaults.sh
  modules/F20_vul_aggregator.sh
  modules/F50_base_aggregator.sh
  modules/P99_prepare_analyzer.sh
  modules/S09_firmware_base_version_check.sh
  modules/S116_qemu_version_detection.sh
Labels: enhancement, EMBA

#988 Install dji firmware tools
  installer/IP00_extractors.sh
Labels: enhancement, Extractor (Pxx), EMBA

#989 massive cleanup
  config/report_templates/F20_vul_aggregator-post.sh
  config/report_templates/S09_firmware_base_version_check-pre.sh
  config/report_templates/S24_kernel_bin_identifier-pre.sh
  config/report_templates/S26_kernel_vuln_verifier-pre.sh
  config/report_templates/S70_hidden_file_check-pre.sh
  config/report_templates/S95_interesting_binaries_check-pre.sh
  config/report_templates/S95_interesting_files_check-pre.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_html_generator.sh
  helpers/helpers_emba_prepare.sh
  modules/F10_license_summary.sh
  modules/F20_vul_aggregator.sh
  modules/F50_base_aggregator.sh
  modules/L23_vnc_checks.sh
  modules/S106_deep_key_search.sh
  modules/S115_usermode_emulator.sh
  modules/S13_weak_func_check.sh
  modules/S14_weak_func_radare_check.sh
  modules/S17_cwe_checker.sh
  modules/S19_apk_check.sh
  modules/S20_shell_check.sh
  modules/S21_python_check.sh
  modules/S22_php_check.sh
  modules/S26_kernel_vuln_verifier.sh
  modules/S70_hidden_file_check.sh
  modules/S95_interesting_files_check.sh
  scan-profiles/default-scan-gpt.emba
Labels: EMBA

#995 multi_grep_fix
  .github/workflows/trivy.yml
  config/bin_version_strings.cfg
  modules/S09_firmware_base_version_check.sh
  modules/S26_kernel_vuln_verifier.sh
Labels: bug, Core modules (Sxx), EMBA

#996 GPT improvements
  modules/F05_qs_resolver.sh
  modules/Q02_openai_question.sh
Labels: enhancement, AI-assissted firmware analysis, EMBA

#1003 BusyBox applet verification module
  config/busybox_commands.cfg
  config/report_templates/S118_busybox_verifier-pre.sh
  modules/S118_busybox_verifier.sh
Labels: enhancement, Core modules (Sxx), EMBA

#998 Change component identification license to SPDXIDs
  config/bin_version_strings.cfg
  config/bin_version_strings_links.cfg
Labels: enhancement, EMBA

#1006 Speedup s09
  modules/S09_firmware_base_version_check.sh
Labels: enhancement, Core modules (Sxx), EMBA

#1011 Improve s24/s25 handling
  emba
  helpers/helpers_emba_status_bar.sh
  modules/S118_busybox_verifier.sh
  modules/S24_kernel_bin_identifier.sh
  modules/S26_kernel_vuln_verifier.sh
Labels: enhancement, Core modules (Sxx), EMBA
