Repository e-m-b-a/emba, pull requests merged in 2024-09, with the labels that each got.

#1287 Bug Fixes Snyk Crawler
  helpers/snyk_crawler.sh
Labels: bug, EMBA

#1288 workflow dispatch
  .github/workflows/snyk_update.yml
Labels: enhancement, ci/cd, EMBA

#1292 fix uml-utilities install
  installer/IL10_system_emulator.sh
Labels: bug, docker, Installation, EMBA

#1291 profile path issue #1266
  helpers/helpers_emba_parameter_parser.sh
Labels: bug, EMBA

#1293 Updated versions of capa and cwe-checker in installer
  emba
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_print.sh
  installer/I13_disasm.sh
  modules/F50_base_aggregator.sh
  modules/L30_routersploit.sh
  modules/L35_metasploit_check.sh
  modules/S16_ghidra_decompile_checks.sh
Labels: enhancement, docker, Installation, EMBA

#1298 update SECURITY.md
  SECURITY.md
Labels: documentation, security, EMBA

#1299 fix missing components without vulns
  modules/F20_vul_aggregator.sh
Labels: bug, EMBA

#1302 Kali version bump, new docker image, refactoring, s26 bug
  Dockerfile
  config/report_templates/L30_routersploit-pre.sh
  docker-compose.yml
  helpers/helpers_emba_prepare.sh
  helpers/helpers_emba_status_bar.sh
  installer/I108_stacs_password_search.sh
  installer/I20_sourcecode_check.sh
  installer/IL15_emulated_checks_init.sh
  modules/F50_base_aggregator.sh
  modules/L15_emulated_checks_nmap.sh
  modules/L20_snmp_checks.sh
  modules/L22_upnp_hnap_checks.sh
  modules/L25_web_checks.sh
  modules/P18_BMC_decryptor.sh
  modules/P99_prepare_analyzer.sh
  modules/S118_busybox_verifier.sh
  modules/S24_kernel_bin_identifier.sh
  modules/S26_kernel_vuln_verifier.sh
Labels: bug, enhancement, docker, EMBA

#1308 remove routersploit dep
  helpers/helpers_emba_dependency_check.sh
Labels: bug, EMBA

#1309 Refactor P02, P05
  installer/IP61_unblob.sh
  modules/P02_firmware_bin_file_check.sh
  modules/P05_patools_init.sh
Labels: EMBA

#1312 Refactor LOG vars, D-modules
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_load_strict_settings.sh
  helpers/helpers_emba_path.sh
  modules/D02_firmware_diffing_bin_details.sh
  modules/D05_firmware_diffing_extractor.sh
  modules/D10_firmware_diffing.sh
  modules/F20_vul_aggregator.sh
  modules/F21_cyclonedx_sbom.sh
  modules/F50_base_aggregator.sh
  modules/L10_system_emulation.sh
  modules/L15_emulated_checks_nmap.sh
  modules/L25_web_checks.sh
  modules/P23_qemu_qcow_mounter.sh
  modules/P25_android_ota.sh
  modules/P35_UEFI_extractor.sh
  modules/P60_deep_extractor.sh
  modules/P65_package_extractor.sh
  modules/S09_firmware_base_version_check.sh
  modules/S118_busybox_verifier.sh
  modules/S13_weak_func_check.sh
  modules/S14_weak_func_radare_check.sh
  modules/S15_radare_decompile_checks.sh
  modules/S16_ghidra_decompile_checks.sh
  modules/S17_cwe_checker.sh
  modules/S18_capa_checker.sh
  modules/S23_lua_check.sh
  modules/S25_kernel_check.sh
  modules/S26_kernel_vuln_verifier.sh
  modules/S36_lighttpd.sh
Labels: EMBA

#1321 fix docker build
  installer/I01_default_apps.sh
  installer/IP61_unblob.sh
  installer/IP99_binwalk_default.sh
Labels: bug, Installation, EMBA

#1322 bump docker base image
  docker-compose.yml
Labels: enhancement, docker, EMBA
