Repository e-m-b-a/emba, pull requests merged in 2024-07, with the labels that each got.

#1215 more bash expansion refactoring
  helpers/helpers_emba_print.sh
  modules/F20_vul_aggregator.sh
  modules/L35_metasploit_check.sh
  modules/S06_distribution_identification.sh
  modules/S109_jtr_local_pw_cracking.sh
  modules/S26_kernel_vuln_verifier.sh
Labels: enhancement, Core modules (Sxx), EMBA

#1214 P23 improvements of handling nbd devices
  modules/P23_qemu_qcow_mounter.sh
Labels: bug, enhancement, Extractor (Pxx), EMBA

#1216 Module documentation template
  helpers/helpers_emba_defaults.sh
  modules/P55_unblob_extractor.sh
  modules/template_module.sh
Labels: documentation, enhancement, EMBA

#1212 New capa (identify capabilities in executable files) module with ATT&CK support (S18)
  .github/workflows/docker-image.yml
  docker-compose.yml
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_status_bar.sh
  installer/I13_disasm.sh
  modules/L10_system_emulation.sh
  modules/S18_capa_checker.sh
Labels: enhancement, Core modules (Sxx), EMBA

#1222 Fix spelling mistake in S23_lua_check.sh
  modules/S23_lua_check.sh
Labels: bug, Core modules (Sxx), EMBA

#1224 fix s109, p35
  modules/L10_system_emulation.sh
  modules/P35_UEFI_extractor.sh
  modules/S109_jtr_local_pw_cracking.sh
  modules/S118_busybox_verifier.sh
Labels: bug, Extractor (Pxx), Core modules (Sxx), EMBA

#1225 Improve ssdeep command in EMBA
  emba
  modules/D10_firmware_diffing.sh
Labels: bug, EMBA, Firmware diffing - D modules

#1232 Update docker-compose.yml
  docker-compose.yml
Labels: bug, docker, EMBA

#1233 installer fix for #1226
  CONTRIBUTORS.md
  helpers/helpers_emba_load_strict_settings.sh
  installer.sh
  modules/D10_firmware_diffing.sh
Labels: bug, Installation, EMBA

#1234 Little updates
  helpers/helpers_emba_defaults.sh
  modules/L10_system_emulation.sh
  modules/L10_system_emulation/inferService.sh
Labels: bug, System emulator (Lxx), EMBA

#1236 Improve Patool error output
  modules/L10_system_emulation.sh
  modules/P05_patools_init.sh
Labels: bug, Extractor (Pxx), EMBA

#1241 ftp client
  installer/IL10_system_emulator.sh
  modules/L10_system_emulation.sh
Labels: enhancement, docker, System emulator (Lxx), EMBA

#1246 L10 init recovery test mode
  modules/L10_system_emulation.sh
  modules/L10_system_emulation/inferService.sh
Labels: enhancement, System emulator (Lxx), EMBA

#1248 docker compose install issue
  installer.sh
  installer/I01_default_apps_host.sh
  installer/helpers.sh
Labels: bug, Installation, EMBA

#1249 libmagic
  installer/IP61_unblob.sh
Labels: bug, Extractor (Pxx), EMBA

#1251 little s18 fix
  modules/S18_capa_checker.sh
Labels: bug, Core modules (Sxx), EMBA

#1255 S08 / Installer
  docker-compose.yml
  installer/I108_stacs_password_search.sh
  installer/IP99_binwalk_default.sh
  modules/F05_qs_resolver.sh
  modules/S08_package_mgmt_extractor.sh
  modules/S13_weak_func_check.sh
  modules/S16_ghidra_decompile_checks.sh
Labels: bug, Installation, EMBA
