Repository e-m-b-a/emba, pull requests merged in 2024-11, with the labels that each got.

#1361 SBOM - Duplicates / package files / dependencies
  config/bin_version_strings.cfg
  helpers/helpers_emba_sbom_helpers.sh
  modules/F15_cyclonedx_sbom.sh
  modules/S06_distribution_identification.sh
  modules/S08_package_mgmt_extractor.sh
  modules/S09_firmware_base_version_check.sh
  modules/S116_qemu_version_detection.sh
  modules/S118_busybox_verifier.sh
  modules/S24_kernel_bin_identifier.sh
  modules/S25_kernel_check.sh
Labels: enhancement, EMBA, SBOM

#1368 Further SBOM updates (python pip, rpm, dependency tree)
  config/bin_version_strings.cfg
  emba
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_html_generator.sh
  helpers/helpers_emba_parameter_parser.sh
  helpers/helpers_emba_prepare.sh
  helpers/helpers_emba_print.sh
  helpers/helpers_emba_sbom_helpers.sh
  installer.sh
  modules/F15_cyclonedx_sbom.sh
  modules/F20_vul_aggregator.sh
  modules/L25_web_checks.sh
  modules/P02_firmware_bin_file_check.sh
  modules/P61_binwalk_extractor.sh
  modules/P65_package_extractor.sh
  modules/S06_distribution_identification.sh
  modules/S08_package_mgmt_extractor.sh
  modules/S09_firmware_base_version_check.sh
  modules/S107_deep_password_search.sh
  modules/S116_qemu_version_detection.sh
  modules/S118_busybox_verifier.sh
  modules/S24_kernel_bin_identifier.sh
  modules/S25_kernel_check.sh
  modules/S36_lighttpd.sh
  scan-profiles/sbom-default.emba
  scan-profiles/sbom-minimal.emba
Labels: enhancement, EMBA, SBOM

#1374 Json SBOM improvements
  config/bin_version_strings.cfg
  config/vendor_list.cfg
  emba
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_prepare.sh
  helpers/helpers_emba_sbom_helpers.sh
  modules/F15_cyclonedx_sbom.sh
  modules/P60_deep_extractor.sh
  modules/P99_prepare_analyzer.sh
  modules/S08_main_package_sbom.sh
  modules/S08_main_package_sbom_modules/S08_submodule_alpine_apk_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_bsd_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_deb_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_debian_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_java_archives_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_nodejs_pcklockparser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_openwrt_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_pip_package_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_poetry_lock_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_requirements_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rpm_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rpm_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_ruby_gem_archive_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rust_cargo_lock_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_windows_exifparser.sh
  modules/S08_package_mgmt_extractor.sh
  modules/S09_firmware_base_version_check.sh
  modules/S24_kernel_bin_identifier.sh
  scan-profiles/sbom-default.emba
  scan-profiles/sbom-minimal.emba
Labels: enhancement, EMBA, SBOM

#1375 Speedup find comands with exec threading / confidence level
  config/bin_version_strings.cfg
  emba
  helpers/helpers_emba_prepare.sh
  helpers/helpers_emba_sbom_helpers.sh
  modules/P05_patools_init.sh
  modules/P15_ubi_extractor.sh
  modules/P40_DJI_extractor.sh
  modules/P55_unblob_extractor.sh
  modules/P60_deep_extractor.sh
  modules/P61_binwalk_extractor.sh
  modules/P65_package_extractor.sh
  modules/P99_prepare_analyzer.sh
  modules/S02_UEFI_FwHunt.sh
  modules/S03_firmware_bin_base_analyzer.sh
  modules/S04_windows_basic_analysis.sh
  modules/S06_distribution_identification.sh
  modules/S07_bootloader_check.sh
  modules/S08_main_package_sbom_modules/S08_submodule_alpine_apk_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_bsd_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_deb_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_debian_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_java_archives_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_nodejs_pcklockparser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_openwrt_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_pip_package_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_poetry_lock_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_requirements_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rpm_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rpm_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_ruby_gem_archive_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rust_cargo_lock_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_windows_exifparser.sh
  modules/S09_firmware_base_version_check.sh
  modules/S100_command_inj_check.sh
  modules/S107_deep_password_search.sh
  modules/S115_usermode_emulator.sh
  modules/S116_qemu_version_detection.sh
  modules/S118_busybox_verifier.sh
  modules/S20_shell_check.sh
  modules/S21_python_check.sh
  modules/S22_php_check.sh
  modules/S23_lua_check.sh
  modules/S24_kernel_bin_identifier.sh
  modules/S25_kernel_check.sh
  modules/S26_kernel_vuln_verifier.sh
  modules/S27_perl_check.sh
  modules/S35_http_file_check.sh
  modules/S36_lighttpd.sh
  modules/S40_weak_perm_check.sh
  modules/S50_authentication_check.sh
  modules/S65_config_file_check.sh
  modules/S85_ssh_check.sh
  scan-profiles/sbom-default.emba
  scan-profiles/sbom-minimal.emba
Labels: enhancement, EMBA

#1376 Added "apt install linux-modules-extra" package for proper installation of ubi and nandsim modules
  installer/ID1_ubuntu_os.sh
Labels: bug, Ubuntu, EMBA

#1382 exit on pre-checking selection
  emba
Labels: enhancement, EMBA
