Repository e-m-b-a/emba, pull requests merged in 2025-06, with the labels that each got.

#1606 links, installer updates
  helpers/helpers_emba_internet_access.sh
  installer/IP61_unblob.sh
  modules/L10_system_emulation.sh
  modules/L15_emulated_checks_nmap.sh
  modules/S06_distribution_identification.sh
Labels: bug, EMBA

#1617 Copilot review integration
  CONTRIBUTING.md
  Dockerfile
  README.md
  SECURITY.md
  config/bin_version_identifiers/kmod.json
  config/bin_version_identifiers/ld-musl-armhf.so.1.json
  config/bin_version_identifiers/libgpiod.json
  config/bin_version_identifiers/libjpeg-turbo.json
  helpers/snyk_crawler.sh
  modules/S109_jtr_local_pw_cracking.sh
  modules/S110_yara_check.sh
  modules/S12_binary_protection.sh
Labels: bug, EMBA

#1618 make s26 environment work again
  modules/F17_cve_bin_tool.sh
  modules/L10_system_emulation.sh
  modules/S26_kernel_vuln_verifier.sh
Labels: bug, enhancement, System emulator (Lxx), Core modules (Sxx), EMBA

#1615 Issue1614/feature request reuse existing SBOM for CVE rechecking without full rescan
  emba
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_parameter_parser.sh
  helpers/helpers_emba_prepare.sh
  helpers/helpers_emba_print.sh
  modules/F17_cve_bin_tool.sh
Labels: enhancement, cve-search, EMBA, SBOM
