Repository e-m-b-a/emba, pull requests merged in 2025-05, with the labels that each got.

#1569 migrate further modules to json config
  .github/workflows/quick_version_generator.yml
  config/bin_version_strings_quick.cfg
  helpers/generate_quick_scan_bin_version_strings.sh
  installer/I02_UEFI_fwhunt.sh
  modules/F10_license_summary.sh
  modules/F17_cve_bin_tool.sh
  modules/P65_package_extractor.sh
  modules/P99_prepare_analyzer.sh
  modules/S09_firmware_base_version_check.sh
  modules/S116_qemu_version_detection.sh
  modules/S118_busybox_verifier.sh
  modules/S13_weak_func_check.sh
  modules/S36_lighttpd.sh
Labels: enhancement, cve-search, Core modules (Sxx), EMBA, SBOM

#1570 Improve CVE detection
  CONTRIBUTING.md
  helpers/helpers_emba_extractors.sh
  helpers/helpers_emba_prepare.sh
  modules/F10_license_summary.sh
  modules/F17_cve_bin_tool.sh
  modules/S09_firmware_base_version_check.sh
  modules/S118_busybox_verifier.sh
  modules/S26_kernel_vuln_verifier.sh
  modules/S36_lighttpd.sh
Labels: bug, enhancement, cve-search, EMBA

#1576 Migration of modules S24 and L15 to improved architecture
  .github/workflows/check_project.yml
  check_project.sh
  config/bin_version_identifiers/linux_kernel.json
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_sbom_helpers.sh
  installer/IF17_cve_bin_tool.sh
  modules/L15_emulated_checks_nmap.sh
  modules/S09_firmware_base_version_check.sh
  modules/S24_kernel_bin_identifier.sh
  modules/S26_kernel_vuln_verifier.sh
Labels: enhancement, System emulator (Lxx), Core modules (Sxx), EMBA

#1575 Linux Kernel v4.14.336 for system emulation environment
  docker-compose.yml
  helpers/helpers_emba_defaults.sh
  installer/IL10_system_emulator.sh
Labels: System emulator (Lxx), EMBA

#1584 Update docker-compose.yml
  docker-compose.yml
Labels: bug, docker, EMBA

#1578 S25 improvements + fixes
  helpers/helpers_emba_internet_access.sh
  helpers/helpers_emba_print.sh
  helpers/helpers_emba_sbom_helpers.sh
  helpers/helpers_emba_status_bar.sh
  installer/IF17_cve_bin_tool.sh
  installer/IP00_extractors.sh
  modules/F02_toolchain.sh
  modules/F10_license_summary.sh
  modules/F50_base_aggregator.sh
  modules/L10_system_emulation/inferFile.sh
  modules/S06_distribution_identification.sh
  modules/S08_main_package_sbom.sh
  modules/S09_firmware_base_version_check.sh
  modules/S17_cwe_checker.sh
  modules/S23_lua_check.sh
  modules/S25_kernel_check.sh
Labels: bug, enhancement, Core modules (Sxx), EMBA

#1587 Deeper extractor update
  helpers/helpers_emba_defaults.sh
  modules/P35_UEFI_extractor.sh
  modules/P55_unblob_extractor.sh
  modules/P60_deep_extractor.sh
  modules/S08_main_package_sbom_modules/S08_submodule_openwrt_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_ruby_gem_archive_parser.sh
Labels: enhancement, Extractor (Pxx), EMBA

#1590 Improve sorting of L10 configs
  modules/L10_system_emulation.sh
  modules/S24_kernel_bin_identifier.sh
Labels: enhancement, System emulator (Lxx), EMBA
