Repository e-m-b-a/emba, pull requests merged in 2025-02, with the labels that each got.

#1457 Manual update GCC and kernel release configs
  config/gcc_details.csv
  config/gcc_libstdc_details.csv
  config/kernel_details.csv
Labels: EMBA

#1460 Add gcc and linux workflow
  .github/workflows/gcc_data_update.yml
  .github/workflows/linux_kernel_data_update.yml
  helpers/generate_gcc_info.sh
  helpers/generate_gcc_libstdc_info.sh
  helpers/generate_kernel_info.sh
Labels: enhancement, EMBArk, ci/cd, db_update, EMBA

#1461 Fix empty results from S09 because of "grep: Argument list too long"
  modules/S09_firmware_base_version_check.sh
Labels: bug, Core modules (Sxx), EMBA

#1465 S09 unique bins
  modules/S09_firmware_base_version_check.sh
Labels: bug, Core modules (Sxx)

#1462 Effective (and fast) S09 threading
  modules/S09_firmware_base_version_check.sh
Labels: bug, enhancement, Core modules (Sxx), EMBA

#1473 SBOM: C/C++ Conan package management integration
  .github/workflows/linux_kernel_data_update.yml
  helpers/helpers_emba_defaults.sh
  helpers/helpers_emba_prepare.sh
  helpers/helpers_emba_sbom_helpers.sh
  modules/S08_main_package_sbom.sh
  modules/S08_main_package_sbom_modules/S08_submodule_alpine_apk_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_bsd_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_c_conanfile_txt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_deb_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_debian_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_java_archives_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_nodejs_pcklockparser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_openwrt_ipk_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_openwrt_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_pip_package_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_poetry_lock_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_python_requirements_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rpm_package_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_rpm_pkg_mgmt_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_ruby_gem_archive_parser.sh
  modules/S08_main_package_sbom_modules/S08_submodule_windows_exifparser.sh
  scan-profiles/default-sbom.emba
  scan-profiles/quick-sbom.emba
Labels: enhancement, Core modules (Sxx), EMBA, SBOM

#1471 fix results from race condition in MD5 list generation
  helpers/helpers_emba_prepare.sh
Labels: bug, EMBA

#1477 S115 #1476
  helpers/helpers_emba_defaults.sh
  modules/S115_usermode_emulator.sh
Labels: bug, Core modules (Sxx), EMBA

#1483 little fixes and cleanup
  config/bin_version_strings.cfg
  helpers/helpers_emba_prepare.sh
  installer/IL15_emulated_checks_init.sh
  installer/IP00_extractors.sh
  modules/P20_foscam_decryptor.sh
  modules/P23_qemu_qcow_mounter.sh
  modules/S115_usermode_emulator.sh
Labels: bug, EMBA

#1484 Foscam extraction (P20) fixes
  docker-compose.yml
  helpers/helpers_emba_dependency_check.sh
  helpers/helpers_emba_status_bar.sh
  installer/IL15_emulated_checks_init.sh
  modules/F17_cve_bin_tool.sh
  modules/P20_foscam_decryptor.sh
  modules/S06_distribution_identification.sh
Labels: bug, Extractor (Pxx), EMBA
